<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Atribuição Compartilhada Igual 3.0</p>
    </license>

    <desc>Veja a área de trabalho remota em modo tela cheia.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Modo tela cheia</title>

  <p>O modo tela cheia pode ser útil se você estiver vendo uma área de trabalho de mesmo tamanho ou largura que a sua.</p>

  <steps>
    <item>
      <p>Escolha <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Tela cheia</gui></guiseq>, ou pressione o botão correspondente na barra de ferramentas, para ver a área de exibição em modo tela cheia.</p>
    </item>
  </steps>

  <note>
    <p>Enquanto você estiver em modo tela cheia, mova o seu mouse ao centro superior da tela para exibir uma barra de ferramentas oculta, que possui botões como <gui style="button">Sair da tela cheia</gui>, <gui style="button">Desconectar</gui>, entre outros.</p>
  </note>

</page>
