<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="sv">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Hjälp för Fjärrskrivbordsvisare</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Lär dig hur du fjärransluter till andra skrivbord.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Fjärrskrivbordsvisare</title>

  <section id="connections" style="2column">
    <title>Ansluta till andra datorer via VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Funktioner och inställningar</title>
  </section>

</page>
