<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="gl">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

    <desc>Escalar o escritorio remoto para axustarse á área de visualización</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Escalar escritorio remoto</title>

  <p>Algúns protocolos teñen unha opción para escalar o escritorio remoto para axustalo á súa área de visualización.</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Ver</gui><gui style="menuitem">Escalar</gui></guiseq>, ou prema o botón <gui>Escalado</gui> da barra de ferramentas.</p>
    </item>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Ver</gui><gui style="menuitem">Manter taxa de aspecto</gui></guiseq> se quere manter a taxa de aspecto do escritorio remoto dentro da área de visualización ou deseleccione a opción para estirar o escritorio remoto para completar o espazo dispoñíbel.</p>
      <note>
        <p>Esta opción pode ser trocada só se <gui>Escalado</gui> foi activado xa.</p>
      </note>
    </item>
  </steps>

</page>
