<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>知识共享相同方式共享 3.0</p>
    </license>

    <desc>使用远程连接文件连接到远程计算机。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>使用 <file>.vnc</file> 文件连接</title>

  <p>部分主机分发<em>远程连接文件</em>(通常以后缀<file>.vnc</file>结尾)，而不是使用主机地址和端口。</p>

  <steps>
    <item>
      <p>选择 <guiseq><gui style="menu">远程</gui> <gui style="menuitem">打开</gui></guiseq>。</p>
    </item>
    <item>
      <p>选择您要打开的文件。</p>
    </item>
    <item>
      <p>点击 <gui style="button">打开</gui> 按钮。</p>
    </item>
  </steps>

  <note style="tip">
    <p>您也可以在<app>文件</app>中打开一个远程连接。</p>
  </note>

</page>
