<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="cs">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Zakažte interakci se vzdálenou plochou.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Režim „jen zobrazení“</title>

  <p>Některé protokoly umožňují zapnout režim <gui>Jen zobrazení</gui>. V tomto režimu se zakáže veškerá interakce se vzdáleným počítačem.</p>
  <p>Pro zapnutí tohoto režimu zvolte <guiseq><gui style="menu">Zobrazit</gui> <gui style="menuitem">Jen zobrazit</gui></guiseq> nebo klikněte na odpovídající tlačítko na nástrojové liště.</p>

</page>
