<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="fa">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>تعامل با میزکار دوردست را غیر فعال می‌کند.</desc>
  </info>

  <title>View-only mode</title>

  <p>Some protocols allow you to enable a <gui>View Only</gui> mode. This mode
  allows you to disable all interaction with the remote.</p>
  <p>Choose <guiseq><gui style="menu">View</gui>
  <gui style="menuitem">View Only</gui></guiseq> or click the corresponding
  toolbar button to enable this mode.</p>

</page>
